@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --kiwi-green: #88e23b;
  --mystery: #a6cccc;
  --blue: #010013;
  --danger: #f00;
  --success: #0f0;

  --b-radius: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Creepster", system-ui;
  scroll-behavior: smooth;
}

.home {
  z-index: 10;
  padding-top: 15rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .home {
    padding-top: 10rem;
  }
}

.characterPage {
  background-color: var(--blue);
  padding-top: 10rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .characterPage {
    padding-top: 2rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.bg {
  z-index: 0;
  position: fixed;
  inset: 0;
  background-image: url("https://i.pinimg.com/originals/fb/9e/9a/fb9e9ac52fed2f9e63efd4ba96589606.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .bg {
    background-image: url("https://cdn.vox-cdn.com/thumbor/9HfS_-ugBoHDaLskP6ssJ8_nIkY=/0x22:1584x851/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/24415978/rick_and_morty_s4_image.png");
  }
}

/* Header */

.header {
  min-height: 5rem;
  position: fixed;
  z-index: 100;
  top: 2.5rem;
  left: 50%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: var(--b-radius);
  -webkit-border-radius: var(--b-radius);
  -moz-border-radius: var(--b-radius);
  -ms-border-radius: var(--b-radius);
  -o-border-radius: var(--b-radius);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (min-width: 768px) {
  .header {
    height: 5rem;
  }
}

.header__title {
  color: var(--white);
  font-size: 3.5rem;
  flex-grow: 1;
}

.search {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.search__input {
  width: 100%;
  max-width: 300px;
  color: var(--white);
  letter-spacing: 2px;
  font-size: 1.25rem;
  background-color: transparent;
  border: 1px solid var(--white);
  padding: 0.7rem 1.4rem;
  outline: none;
  border-radius: var(--b-radius);
  -webkit-border-radius: var(--b-radius);
  -moz-border-radius: var(--b-radius);
  -ms-border-radius: var(--b-radius);
  -o-border-radius: var(--b-radius);
}

.search__input:focus {
  border: 2px solid var(--kiwi-green);
}

.container__buttons {
  margin-top: 2rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.7rem 1.4rem;
  border: 1px solid var(--white);
  border-radius: var(--b-radius);
  background-color: var(--black);
  color: var(--white);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Bento */

.bento {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .bento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(30, 1fr);
  }
}

@media (min-width: 1024px) {
  .bento {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(11, 17.5rem);
  }
}

.bentoItem {
  overflow: hidden;
  border-radius: var(--b-radius);
  -webkit-border-radius: var(--b-radius);
  -moz-border-radius: var(--b-radius);
  -ms-border-radius: var(--b-radius);
  -o-border-radius: var(--b-radius);
}

@media (max-width: 767px) {
  .bentoItem {
    aspect-ratio: 1/1;
    min-width: 18.75rem;
    min-height: 18.75rem;
  }
}

.bentoItem__link {
  padding: 2rem;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.bentoItem img {
  z-index: 1;
  position: absolute;
  object-fit: cover;
  left: 0;
  bottom: 0;
  height: 100%;
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -ms-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}

@media (min-width: 768px) {
  .bentoItem img {
    object-fit: fill;
  }
}

.bentoItem:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.bentoItem__overlay {
  z-index: 5;
  position: absolute;
  inset: 0;
  background: rgb(2, 0, 32);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 32, 1) 16%,
    rgba(0, 0, 0, 0) 57%
  );
}

.bentoItem__description {
  width: 100%;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bentoItem__id,
.bentoItem__name {
  font-size: clamp(2rem, 1.4681rem + 1.7021vw, 3rem);
}

.bentoItem__name {
  color: #97ce4c;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bentoItem__status {
  font-size: 1.5rem;
}
.bentoItem__status-Alive {
  color: var(--success);
}
.bentoItem__status-Dead {
  color: var(--danger);
}
.bentoItem__status-unknown {
  color: var(--mystery);
}

@media (min-width: 768px) {
  .div1 {
    grid-area: 1 / 1 / 7 / 4;
  }
  .div2 {
    grid-area: 1 / 4 / 4 / 6;
  }
  .div3 {
    grid-area: 4 / 4 / 7 / 6;
  }
  .div4 {
    grid-area: 7 / 1 / 12 / 3;
  }
  .div5 {
    grid-area: 7 / 3 / 12 / 6;
  }
  .div6 {
    grid-area: 12 / 1 / 16 / 3;
  }
  .div7 {
    grid-area: 12 / 3 / 16 / 5;
  }
  .div8 {
    grid-area: 12 / 5 / 16 / 6;
  }
  .div9 {
    grid-area: 16 / 1 / 21 / 4;
  }
  .div10 {
    grid-area: 16 / 4 / 21 / 5;
  }
  .div11 {
    grid-area: 16 / 5 / 21 / 6;
  }
  .div12 {
    grid-area: 21 / 1 / 26 / 2;
  }
  .div13 {
    grid-area: 21 / 2 / 26 / 3;
  }
  .div14 {
    grid-area: 21 / 3 / 26 / 4;
  }
  .div15 {
    grid-area: 21 / 4 / 26 / 5;
  }
  .div16 {
    grid-area: 21 / 5 / 26 / 6;
  }
  .div17 {
    grid-area: 26 / 1 / 31 / 3;
  }
  .div18 {
    grid-area: 26 / 3 / 31 / 4;
  }
  .div19 {
    grid-area: 26 / 4 / 31 / 5;
  }
  .div20 {
    grid-area: 26 / 5 / 31 / 6;
  }
}

@media (min-width: 1024px) {
  .div1 {
    grid-area: 1 / 1 / 4 / 4;
  }
  .div2 {
    grid-area: 1 / 4 / 3 / 6;
  }
  .div3 {
    grid-area: 1 / 6 / 3 / 8;
  }
  .div4 {
    grid-area: 4 / 1 / 6 / 3;
  }
  .div5 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .div6 {
    grid-area: 3 / 4 / 5 / 6;
  }
  .div7 {
    grid-area: 3 / 6 / 5 / 8;
  }
  .div8 {
    grid-area: 5 / 3 / 8 / 6;
  }
  .div9 {
    grid-area: 6 / 1 / 8 / 3;
  }
  .div10 {
    grid-area: 5 / 6 / 7 / 8;
  }
  .div11 {
    grid-area: 7 / 6 / 8 / 7;
  }
  .div12 {
    grid-area: 7 / 7 / 8 / 8;
  }
  .div13 {
    grid-area: 8 / 1 / 11 / 4;
  }
  .div14 {
    grid-area: 8 / 4 / 10 / 6;
  }
  .div15 {
    grid-area: 8 / 6 / 10 / 8;
  }
  .div16 {
    grid-area: 10 / 4 / 12 / 6;
  }
  .div17 {
    grid-area: 10 / 6 / 12 / 8;
  }
  .div18 {
    grid-area: 11 / 1 / 12 / 2;
  }
  .div19 {
    grid-area: 11 / 2 / 12 / 3;
  }
  .div20 {
    grid-area: 11 / 3 / 12 / 4;
  }
}

/* Character Page */

.bentoCharacter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .bentoCharacter {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 180px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1rem;
  }
}

.bentoCharacter__link {
  text-decoration: none;
  margin: 0 auto;
  z-index: 10;
  backdrop-filter: blur(8px);
  width: 90%;
  max-width: 200px;
  text-align: center;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: var(--b-radius);
  -webkit-border-radius: var(--b-radius);
  -moz-border-radius: var(--b-radius);
  -ms-border-radius: var(--b-radius);
  -o-border-radius: var(--b-radius);
}

.bentoCharacter__item {
  backdrop-filter: blur(8px);
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  position: relative;
  border-radius: var(--b-radius);
  -webkit-border-radius: var(--b-radius);
  -moz-border-radius: var(--b-radius);
  -ms-border-radius: var(--b-radius);
  -o-border-radius: var(--b-radius);
}
@media (max-width: 767px) {
  .bentoCharacter__item {
    aspect-ratio: 1/1;
    min-width: 18.75rem;
    min-height: 18.75rem;
  }
}
.bentoCharacter__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bentoCharacter__status,
.bentoCharacter__id,
.bentoCharacter__location,
.bentoCharacter__name {
  font-size: clamp(5rem, 3.6702rem + 4.2553vw, 7.5rem);
  text-align: center;
}

.bentoCharacter__name {
  color: var(--mystery);
}

.bentoCharacter .div1 {
  grid-area: 1 / 1 / 5 / 4;
}
.bentoCharacter .div2 {
  grid-area: 1 / 4 / 3 / 6;
}
.bentoCharacter .div3 {
  grid-area: 3 / 4 / 5 / 6;
}
.bentoCharacter .div4 {
  grid-area: 5 / 1 / 7 / 3;
}
.bentoCharacter .div5 {
  grid-area: 5 / 3 / 7 / 6;
}
